### Voy a sumar tres columnas del dataset test.csv ('dnce','val' y 'nrgy') para que de como resultado un único numero

In [1]:
import pandas as pd

### Cargamos el dataset

In [13]:
canciones = pd.read_csv(r"C:\Users\adria\Desktop\Mi primer proyecto\Carlos\TBS-tech-int\data\test.csv")
canciones.head(2)

,Number,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch
0,396,Call on Me - Radio Mix,Eric Prydz,big room,2004,126,84,60,-7,84,45,171,0,38
1,160,9 to 5,Dolly Parton,classic country pop,1980,105,78,55,-6,63,81,162,42,5

### El ejercicio :"scenario : ‘dnce’ + ‘val’ + ‘energy’"

### El codigo en pandas

In [12]:
canciones[['dnce','val','nrgy']].sum().sum()

38143

### El codigo en SQL: FROM table1 SELECT SUM (dnce) + SUM (val) + SUM (nrgy) AS TOTAL